{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container">
<nav class="navbar navbar-light pb-2 bg-info">
  <a class="navbar-brand" href="">{{titre}}</a>
</nav>
</div>

<table class="table  table-bordered table-hover table-light text-center" >
        <thead class="table bg-dark text-white">
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Nom Complet</th>
                <th scope="col">login</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
  <tbody>
  {% set i = 0 %}
{% for user in users%}
    <tr>
      <td> {% set i = i + 1 %}{{ i }}</td>
      <td>{{ user.nomComplet }}</td>
      <td>{{ user.email }}</td>
      
      <td>{{ user.roles[0] }}</td>

      <td> 
      
      <button type="button" class="btn btn-outline-success">Détails</button>
        <button type="button" class="btn btn-outline-dark">Modifier</button>
        <a  class="btn btn-outline-danger" href="">Archiver</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
